#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  min-height: 300vh;
}

#main {
  width: 400px;
  background: #00000022;
  > div {
    margin-bottom: 50vh;
  }
}
